.navbar {
  list-style-type: none;
  font-family: 'Arvo', sans-serif;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}
  
.navbar li {
  float: left;
}
  
.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.navbar li a:hover {
  color: white;
  background-color: rgb(0, 255, 85);
}
  
@media screen and (max-width: 320px) {
  .navbar {
    margin: auto;
    width: 90%;
  }

  .navbar li {
    float: none;
  }
}

@media screen and (max-width: 414px) and (min-width: 321px) {
  .navbar {
    margin: auto;
    width: 90%;
  }

  .navbar li {
    float: none;
  }
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  .navbar {
    margin: auto;
    width: 85%;
  }

  .navbar li {
    float: none;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .navbar {
    margin: auto;
    width: 85%;
  }

  .navbar li {
    float: none;
  }

  .navbar li a {
    font-size: 20px;
  }
}
